.nav {
  display: flex;
  justify-content: center;
  font-size: 0.8remI;
  text-transform: lowercase;
  background-color: #1abc9c;
  padding: 1.5rem 0em;
  min-height: 10%;
}

.logo {
  width: 50px;
  height: auto;
}

.nav-header h1 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #eee;
}

.nav-container {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-list__item {
  list-style-type: none;
  background-color: #eee;
  min-width: 80px;
  border-radius: 2rem;
  margin-left: 0.4rem;
  text-align: center;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.nav-list__item:hover {
  background-color: #111;
}

.nav--link {
  padding: 0.4rem 0rem;
  display: block;
  width: 100%;
  color: #eee;
}

@media screen and (min-width: 576px) {
  .nav-container {
    width: 500px;
  }
}

@media screen and (min-width: 768px) {
  .nav-container {
    width: 600px;
  }
}

@media screen and (min-width: 992px) {
  .nav-container {
    width: 800px;
  }
}
