.nav-container {
  max-width: 50%;
  padding: 2em 0em;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-list__item {
  list-style-type: none;
}

.nav--link{
  padding: 0em 1em;
}