.nav {
  background-color: #1abc9c;
}

.nav-header h1 {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 3rem;
  color: #fff;
}

.nav-container {
  max-width: 800px;
  padding: 1.5rem 0em;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-list__item {
  font-size: 0.9rem;
  list-style-type: none;
  background-color: white;
  min-width: 100px;
  border-radius: 2rem;
  margin-left: 1em;
  text-align: center;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.nav-list__item:hover {
  background-color: #000000;
}

.nav--link {
  padding: 0.6rem 1.2em;
  display: block;
  width: 100%;
}

.register {
  background-color: #ffffff;
}

.register:hover {
  background-color: #000;
}
