/*css-reset*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
}

.center {
  display: flex;
  margin: auto;
}

.link {
  text-decoration: none;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

/* UTILITY */
.nowrap {
  white-space: nowrap;
}

